<div class="card">
	<div class="title">
		Urubici, BR
	</div>
	<div class="divider"></div>
	<div class="main-value">
		19°
	</div>
	<div class="footer">
		<div class="others" *ngIf="expanded">
			<label>Humidity</label>
			<p>
				<span class="value">75</span>
				<span class="unit">%</span>
			</p>
		</div>
		<div class="others" *ngIf="expanded">
			<label>Pressure</label>
			<p>
				<span class="value">892</span>
				<span class="unit">hPa</span>
			</p>
		</div>
		<div class="updated">Updated at 02:48:32 PM</div>
	</div>
</div>
