@import "src/scss/variables";

$column-mobile: 100%;
$column-tablet: 200px;
$column-desktop: 320px;

.card-container {

	width: 100%;
	height: calc(100vh - #{$navbar-height});
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@media only screen and (min-width: $container-desktop) {
		width: $container-desktop;
		overflow: hidden;
	}

	div {
		$padding: 30px;
		padding: 0 $padding $padding $padding;

		display: inline-block;
		vertical-align: middle;

		@media only screen and (max-width: $container-mobile) {
			&:first-of-type {
				padding-top: $padding;
			}
		}

		width: $column-mobile;
		flex: 0 0 $column-mobile;

		@media only screen and (min-width: $container-mobile) {
			padding: 0 $padding / 2 $padding / 2 $padding / 2;
			width: $column-tablet;
			flex: 0 0 $column-tablet;
		}

		@media only screen and (min-width: $container-desktop) {
			padding: 0 $padding $padding $padding;
			width: $column-desktop;
			flex: 0 0 $column-desktop;
		}

	}
}

@mixin order-list($list) {
	@each $item in $list {
		@media only screen and (min-width: $container-mobile) {
			.order-desktop-#{$item} {
				order: #{$item};
			}
		}
	}
}

@include order-list("1""2""3");
