@import "src/scss/variables";

$card-body: 180px;
$card-footer: 50px;
$card-body-expanded: 230px;

$card-padding: 10px;
$card-divider: $light;

.card {
	display: flex;
	flex-wrap: no-wrap;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	border-radius: $border-radius;
	box-shadow: 0 1px 6px rgba($color: $gray-darker, $alpha: .1);

	div {
		width: 100%;
		position: relative;
		background-color: $white;

		&.header {
			font-size: 18px;
			color: $gray-dark;
			padding: $card-padding;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			border-bottom: 1px solid $card-divider;
		}

		&.body {
			height: $card-body;
			padding: $card-padding * 2;
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;

			&.expanded {
				height: $card-body-expanded;
			}

			span {
				&.temp {
					font-size: 90px;
				}

				&.unit {
					font-size: 60px;
					vertical-align: text-bottom;
				}
			}

			.footer {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: $card-padding;
				border-bottom-left-radius: inherit;
				border-bottom-right-radius: inherit;
				background-color: rgba($color: $lighter, $alpha: .5);

				.half {
					width: 50%;
					overflow: hidden;
					display: inline-block;
					background-color: transparent;

					label {
						color: $gray;
						display: block;
						font-size: 12px;
						font-weight: lighter;
						text-transform: uppercase;
						margin: 5px 0;
					}

					span {
						color: $gray-dark;
						margin: 0 0 5px 0;
						display: inline-block;
						vertical-align: baseline;

						&.value {
							font-size: 18px;
							font-weight: 500;
						}

						&.unit {
							font-size: 13px;
						}
					}
				}

				.updated {
					color: $gray;
					font-size: 10px;
					font-weight: lighter;
					letter-spacing: -0.25px;
					background-color: transparent;
				}
			}

			.error {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				div {
					color: $red;
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 20px;
				}

				button {

					color: $gray-dark;
					font-size: 15px;
					border-radius: 20px;
					border: 2px solid $gray-dark;

					outline: none;
					text-align: center;
					display: inline-block;

					padding: 8px 12px;
					background-color: transparent;
				}
			}
		}
	}
}
