$white: 		#ffffff;
$lighter: 		#f1f1f1;
$light: 		#ebebeb;
$gray: 			#b4b4b4;
$gray-dark: 	#737c84;
$gray-darker: 	#333333;
$black:			#000000;

$red: 			#ed1946;
$blue: 			#69a3ff;
$orange: 		#ff9632;
