@import "./theme.scss";

$app-bg: $lighter;

$card-bg: $white;
$card-footer-bg: rgba($color: $lighter, $alpha: .5);

$card-divider: $light;
$card-border-radius: .25rem;
$card-shadow: 0 1px 6px rgba($color: $gray-darker, $alpha: .1);
